<!DOCTYPE html>
<html>
  <%= render 'global/head_file/head' %>
  <% if admin_signed_in? %>
    <body class="font-sans h-screen flex overflow-hidden bg-primary-bg " x-data="{ sidebarOpen: false }" @keydown.window.escape="sidebarOpen = false">
      <!-- Off-canvas menu for mobile -->
      <%= render "global/authenticated_admin/offscreen_nav" %>

      <!-- Static sidebar for desktop -->
      <%= render "global/authenticated_admin/side_nav" %>

      <!-- Content -->
      <div class="flex flex-col w-0 flex-1 overflow-hidden">
        <%= render "global/authenticated_admin/top_nav" %>
        <%= render partial: "global/flash/messages" %>

        <main class="flex-1 relative z-0 overflow-y-auto py-6 focus:outline-none" tabindex="0" x-data x-init="$el.focus()">
          <div class="mx-auto px-4 sm:px-6 md:px-8">
            <%= yield %>
          </div>
        </main>
      </div>
    </body>
  <% else  %>
    <body class="bg-gray-50 body-font font-medium">
    <%= yield %>
    </body>
  <% end  %>
</html>
